 <script src="http://momentjs.com/downloads/moment.min.js"></script>
 <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_slI8WFOELI5CY270wf8RKIEchaxJaiU&callback=initMap&libraries=&v=beta&map_ids=3b4917ee32ca31af"
        defer
    ></script>


   <div id="map">

        </div>


 <script src="/js/maps.js"></script>
 