<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header" style="background-color: white;">
                    <h3 >Registro Empleados</h3>
                </div>
                <div class="card-body">
                    <form action="/registroempleados" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Ingrese su Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="Ingrese su Apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="puesto" placeholder="Ingrese su Puesto">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="correo" placeholder="Ingrese su Correo">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="contrasena" placeholder="Ingrese su Constraseña">
                        </div>
                        <div class="form-group">
                           <button  class="btn btn-primary btn-block botonguardar">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

