body{
    background-color: #131d26;
    height: 100%;
}

.botonguardar{
    background: rgba(3,36,252,1);
background: -moz-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,36,252,1)), color-stop(100%, rgba(2,132,254,1)));
background: -webkit-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
background: -o-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
background: -ms-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
background: linear-gradient(to right, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0324fc', endColorstr='#0284fe', GradientType=1 );
}

.card{
    background-color: #272c31;
    height: auto;
    align-items: center;
}
.logo{
    width: 75px;
    padding: 0px;
    margin: none;
}

.navbar{
    background: rgba(3,36,252,1);
    background: -moz-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,36,252,1)), color-stop(100%, rgba(2,132,254,1)));
    background: -webkit-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
    background: -o-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
    background: linear-gradient(to right, rgba(3,36,252,1) 0%, rgba(2,132,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0324fc', endColorstr='#0284fe', GradientType=1 );
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

}
#menu{
    justify-content: right;
}

.botonnavegador{
    margin: 10px;
    background-color: #272c31 ;
}
/*Login*/

.logo_login{
    width: auto;
    align-items: center;
}
.botonregistrar{
    
    background: rgba(245,0,0,1);
    background: -moz-linear-gradient(left, rgba(245,0,0,1) 0%, rgba(39,48,230,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,0,0,1)), color-stop(100%, rgba(39,48,230,1)));
background: -webkit-linear-gradient(left, rgba(245,0,0,1) 0%, rgba(39,48,230,1) 100%);
background: -o-linear-gradient(left, rgba(245,0,0,1) 0%, rgba(39,48,230,1) 100%);
background: -ms-linear-gradient(left, rgba(245,0,0,1) 0%, rgba(39,48,230,1) 100%);
background: linear-gradient(to right, rgba(245,0,0,1) 0%, rgba(39,48,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50000', endColorstr='#2730e6', GradientType=1 );
}


/*Mapas*/

#map {
    height: 100%;
  }


/*Informe*/

.titulo{
    color: white;
    text-align: center;
}

/*footer*/

/* footer */

.footer-style {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 300px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}