<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Empleado</h3>
                <p>{{user.nombre}}</p>
                <p>{{user.apellido}}</p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>No. de Identificacion</h3>
                <p id="numerodeidentificacion">{{user.id}}</p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Correo</h3>
                <p>{{user.correo}}</p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/formulariochekeo.js"></script>