<nav class="navbar navbar-dark navbar-expand-lg ">
    <div class="img">
        <img src="/img/logo.png" height="60px" alt="">
    </div>
    <div> 
    <a href="/inicio" class="navbar-grand text-white">
        <h2>Easy Eat</h2>
    </a>
    </div>
    <div>
        <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item active">
                <a href="/inicio" class="nav-link btn btn-primary botonnavegador">Inicio</a>
            </li>
            <li class="navbar-item active">
                <a href="/informe" class="nav-link btn btn-primary botonnavegador">Informe</a>
            </li>
            <li class="navbar-item active">
                <a href="/llenado" class="nav-link btn btn-primary botonnavegador">Llenado</a>
            </li>
                <li class="navbar-item active dropdown">
                <a href="" class="nav-link btn btn-primary botonnavegador" data-toggle="dropdown" data-target="desplegable">Administrador</a>
                <div class="dropdown-menu">
                    <a href="/registroproductos" class="dropdown-item">Productos</a>
                    <a href="/registroempleados" class="dropdown-item">Empleados</a>
                    <a href="/registromaquinas" class="dropdown-item">Maquinas</a>
                    <a href="/rutas" class="dropdown-item">Rutas</a>
                    <a href="" class="nav-link btn btn-primary botonnavegador" data-toggle="dropdown" data-target="desplegable">Reportes</a>
                        <div class="dropdown-menu">
                            <a href="/visitas" class="dropdown-item">Visitas</a>
                            <a href="/productos" class="dropdown-item">Productos</a>
                            <a href="/ventas" class="dropdown-item">Ventas</a>
                            <a href="/inventario" class="dropdown-item">Inventario</a>
                        </div>
            </li>
             <li class="navbar-item active">
                <a href="/salir" class="nav-link btn btn-primary botonnavegador">Salir</a>
            </li>
        </ul>
    </div>
    </div>
    
</nav>